<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的mapper接口-->
<mapper namespace="com.mapper.UserMapper">
    <!--    查询语句-->
    <select id="getlist" resultType="map">
        select * from newobj.user
    </select>

    <delete id="deleteUser">
        delete from user where u_id=#{u_id}
    </delete>

    <insert id="addUser">
    insert into user values (#{u_id},#{u_name},#{u_pwd})
    </insert>

</mapper>